<a href="https://colab.research.google.com/github/fred-ykv/livro-receitas/blob/master/Carteira_Dividendo_2021_An%C3%A1lise_de_Empresas_Arualizada_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ricos pelo Acaso

Link para o vídeo: https://youtu.be/e_ZRDG4F4ZA

# Importando Bibliotecas

In [1]:
import numpy as np
import pandas as pd
import string
import warnings
warnings.filterwarnings('ignore')

import requests

# Obtendo e tratando os dados

In [2]:
url = 'http://www.fundamentus.com.br/resultado.php'

In [3]:
header = {
  "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.89 Safari/537.36"  
 }

r = requests.get(url, headers=header)

In [4]:
df = pd.read_html(r.text,  decimal=',', thousands='.')[0]

In [5]:
df

      Papel  Cotação       P/L  ...   Patrim. Líq  Dív.Brut/ Patrim. Cresc. Rec.5a
0     CLAN3     0.00      0.00  ...  1.012240e+09               0.00       -63,96%
1     CSTB3   150.00      0.00  ...  8.420670e+09               0.14        31,91%
2     MNSA4     0.47      0.00  ... -9.105000e+06              -6.52       -41,11%
3     IVTT3     0.00      0.00  ...  1.083050e+09               0.00        20,67%
4     POPR4    10.17      0.00  ...  5.458030e+08               0.82        30,93%
..      ...      ...       ...  ...           ...                ...           ...
971   UBBR3    18.00   1466.61  ...  1.031720e+10               0.00        10,58%
972   BIDI4    22.10   2118.80  ...  8.637480e+09               0.00        35,31%
973  BIDI11    67.38   2153.31  ...  8.637480e+09               0.00        35,31%
974   BIDI3    23.01   2206.04  ...  8.637480e+09               0.00        35,31%
975  BBTG12     3.15  37998.00  ...  6.000000e+03               0.00         0,00%

[976 rows x 21 columns]

###Número de Empresas listadas

In [6]:
df.shape

(976, 21)

In [7]:
for coluna in ['Div.Yield', 'Mrg Ebit', 'Mrg. Líq.', 'ROIC', 'ROE', 'Cresc. Rec.5a']:
  df[coluna] = df[coluna].str.replace('.', '')
  df[coluna] = df[coluna].str.replace(',', '.')
  df[coluna] = df[coluna].str.rstrip('%').astype('float') / 100

In [8]:
df

      Papel  Cotação       P/L  ...   Patrim. Líq  Dív.Brut/ Patrim.  Cresc. Rec.5a
0     CLAN3     0.00      0.00  ...  1.012240e+09               0.00        -0.6396
1     CSTB3   150.00      0.00  ...  8.420670e+09               0.14         0.3191
2     MNSA4     0.47      0.00  ... -9.105000e+06              -6.52        -0.4111
3     IVTT3     0.00      0.00  ...  1.083050e+09               0.00         0.2067
4     POPR4    10.17      0.00  ...  5.458030e+08               0.82         0.3093
..      ...      ...       ...  ...           ...                ...            ...
971   UBBR3    18.00   1466.61  ...  1.031720e+10               0.00         0.1058
972   BIDI4    22.10   2118.80  ...  8.637480e+09               0.00         0.3531
973  BIDI11    67.38   2153.31  ...  8.637480e+09               0.00         0.3531
974   BIDI3    23.01   2206.04  ...  8.637480e+09               0.00         0.3531
975  BBTG12     3.15  37998.00  ...  6.000000e+03               0.00         0.0000

[976 rows x 21 columns]

## Analisando os dados

#### - Filtando empresas com Liquidez em 2 meses > 1000000

In [9]:
df = df[df['Liq.2meses'] > 1000000]

In [10]:
df.shape

(290, 21)

In [70]:
ranking = pd.DataFrame()
ranking['pos'] = range(1,151)
ranking['EV/EBIT'] = df[ df['EV/EBIT'] > 0 ].sort_values(by=['EV/EBIT'])['Papel'][:150].values
ranking['ROIC'] = df.sort_values(by=['ROIC'], ascending=False)['Papel'][:150].values
ranking['Liq. Corr.'] = df[ df['Liq. Corr.'] >= 1.5 ].sort_values(by=['Liq. Corr.'])['Papel'][:150].values
ranking['P/L'] = df[ df['P/L'] < 15 ].sort_values(by=['P/L'])['Papel'][:150].values
ranking['ROE'] = df.sort_values(by=['ROE'], ascending=False)['Papel'][:150].values
ranking['P/VP'] = df[(df['P/VP'] >=0) & (df['P/VP'] < 2.7)].sort_values(by=['P/VP'])['Papel'][:150].values
ranking['Div.Yield'] = df.sort_values(by=['Div.Yield'], ascending=False)['Papel'][:150].values

In [72]:
ranking['Div.Yield']

0      CSMG3
1      CPLE6
2      CPLE3
3      TRPL4
4      CYRE3
       ...
145    HAPV3
146    RADL3
147    DASA3
148    LJQQ3
149    RDOR3
Name: Div.Yield, Length: 150, dtype: object

In [73]:
ranking

     pos EV/EBIT    ROIC Liq. Corr.    P/L     ROE    P/VP Div.Yield
0      1   PSSA3  AURA33      ALLD3  CSED3  AURA33  GPIV33     CSMG3
1      2  GPIV33   NGRD3      EGIE3  DASA3   NGRD3   JBDU4     CPLE6
2      3   GOAU4   CMIN3     AURA33  WEST3   TASA3   PINE4     CPLE3
3      4   EVEN3   WIZS3      ARZZ3  YDUQ3   TASA4   SGPS3     TRPL4
4      5   CMIN3   PSSA3      BRPR3  SBFG3   BEEF3   COGN3     CYRE3
..   ...     ...     ...        ...    ...     ...     ...       ...
145  146   AMAR3   RAIZ4      USIM5  ROMI3   KEPL3   ENEV3     HAPV3
146  147   RAIL3   LINX3      CYRE3  POMO4   PETZ3   SMTO3     RADL3
147  148   GFSA3   ESPA3      TFCO4  SBSP3   EZTC3   JALL3     DASA3
148  149   ENEV3   DIRR3      POWE3  MRVE3   BRFS3   HBSA3     LJQQ3
149  150   ALSO3   MYPK3      ETER3  LOGG3   MGLU3   BRDT3     RDOR3

[150 rows x 8 columns]

In [74]:
a = ranking.pivot_table(columns='EV/EBIT', values='pos')

In [76]:
b = ranking.pivot_table(columns='ROIC', values='pos')

In [77]:
c = ranking.pivot_table(columns='Liq. Corr.', values='pos')

In [78]:
d = ranking.pivot_table(columns='P/L', values='pos')

In [79]:
e = ranking.pivot_table(columns='ROE', values='pos')

In [80]:

f = ranking.pivot_table(columns='P/VP', values='pos')

In [81]:
g = ranking.pivot_table(columns='Div.Yield', values='pos')

In [82]:
t = pd.concat([a,b,c,d,e,f,g])
t

     AALR3  ABEV3  AGRO3  AGXY3  ALLD3  ...  ITUB4  SANB11  AESB3  BPAC11  HAPV3
pos  130.0  127.0   74.0   70.0   59.0  ...    NaN     NaN    NaN     NaN    NaN
pos    NaN   60.0   63.0   96.0   50.0  ...    NaN     NaN    NaN     NaN    NaN
pos    NaN    NaN   13.0    NaN    1.0  ...    NaN     NaN    NaN     NaN    NaN
pos    NaN    NaN    NaN    NaN  130.0  ...    NaN     NaN    NaN     NaN    NaN
pos    NaN   89.0  112.0    NaN   61.0  ...   91.0    82.0    NaN     NaN    NaN
pos   47.0    NaN   96.0   86.0  105.0  ...  129.0   110.0    NaN     NaN    NaN
pos    NaN   86.0  116.0    NaN    NaN  ...  107.0    35.0  111.0   129.0  146.0

[7 rows x 281 columns]

In [83]:
rank = t.dropna(axis=1).sum()
rank

ALUP11    396
BRDT3     631
CAML3     547
CMIG3     487
CMIG4     434
CYRE3     580
EQTL3     583
GGBR3     492
GGBR4     541
GOAU4     498
JHSF3     709
POSI3     582
RAPT4     463
ROMI3     625
SAPR11    412
SAPR3     412
SAPR4     422
SLCE3     571
TAEE11    407
TAEE3     415
TAEE4     413
TRIS3     725
TRPL4     372
USIM3     527
USIM5     524
dtype: int64

In [84]:
rank.sort_values()[:15]

TRPL4     372
ALUP11    396
TAEE11    407
SAPR3     412
SAPR11    412
TAEE4     413
TAEE3     415
SAPR4     422
CMIG4     434
RAPT4     463
CMIG3     487
GGBR3     492
GOAU4     498
USIM5     524
USIM3     527
dtype: int64