<a href="https://colab.research.google.com/github/fred-ykv/livro-receitas/blob/master/Carteira_Dividendo_2021_An%C3%A1lise_de_Empresas_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ricos pelo Acaso

Link para o vídeo: https://youtu.be/e_ZRDG4F4ZA

# Importando Bibliotecas

In [ ]:
import numpy as np
import pandas as pd
import string
import warnings
warnings.filterwarnings('ignore')

import requests

# Obtendo e tratando os dados

In [ ]:
url = 'http://www.fundamentus.com.br/resultado.php'

In [ ]:
header = {
  "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.89 Safari/537.36"  
 }

r = requests.get(url, headers=header)

In [ ]:
df = pd.read_html(r.text,  decimal=',', thousands='.')[0]

In [ ]:
df

      Papel  Cotação       P/L  ...   Patrim. Líq  Dív.Brut/ Patrim. Cresc. Rec.5a
0     CLAN3     0.00      0.00  ...  1.012240e+09               0.00       -63,96%
1     CSTB3   150.00      0.00  ...  8.420670e+09               0.14        31,91%
2     MNSA4     0.47      0.00  ... -9.105000e+06              -6.52       -41,11%
3     IVTT3     0.00      0.00  ...  1.083050e+09               0.00        20,67%
4     POPR4    10.17      0.00  ...  5.458030e+08               0.82        30,93%
..      ...      ...       ...  ...           ...                ...           ...
971   BIDI4    23.72   2274.11  ...  8.637480e+09               0.00        35,31%
972  BIDI11    71.80   2294.56  ...  8.637480e+09               0.00        35,31%
973   BIDI3    24.40   2339.30  ...  8.637480e+09               0.00        35,31%
974   NTCO3    52.94   4730.82  ...  2.869130e+10               0.49         0,00%
975  BBTG12     3.15  37998.00  ...  6.000000e+03               0.00         0,00%

[976 rows x 21 columns]

In [ ]:
df.shape

(976, 21)

In [ ]:
for coluna in ['Div.Yield', 'Mrg Ebit', 'Mrg. Líq.', 'ROIC', 'ROE', 'Cresc. Rec.5a']:
  df[coluna] = df[coluna].str.replace('.', '')
  df[coluna] = df[coluna].str.replace(',', '.')
  df[coluna] = df[coluna].str.rstrip('%').astype('float') / 100

In [ ]:
df

      Papel  Cotação       P/L  ...   Patrim. Líq  Dív.Brut/ Patrim.  Cresc. Rec.5a
0     CLAN3     0.00      0.00  ...  1.012240e+09               0.00        -0.6396
1     CSTB3   150.00      0.00  ...  8.420670e+09               0.14         0.3191
2     MNSA4     0.47      0.00  ... -9.105000e+06              -6.52        -0.4111
3     IVTT3     0.00      0.00  ...  1.083050e+09               0.00         0.2067
4     POPR4    10.17      0.00  ...  5.458030e+08               0.82         0.3093
..      ...      ...       ...  ...           ...                ...            ...
971   BIDI4    23.72   2274.11  ...  8.637480e+09               0.00         0.3531
972  BIDI11    71.80   2294.56  ...  8.637480e+09               0.00         0.3531
973   BIDI3    24.40   2339.30  ...  8.637480e+09               0.00         0.3531
974   NTCO3    52.94   4730.82  ...  2.869130e+10               0.49         0.0000
975  BBTG12     3.15  37998.00  ...  6.000000e+03               0.00         0.0000

[976 rows x 21 columns]

# Analisando os dados

In [ ]:
df = df[df['Liq.2meses'] > 1000000]

In [ ]:
df.shape

(290, 21)

In [ ]:
ranking = pd.DataFrame()
ranking['pos'] = range(1,151)
ranking['EV/EBIT'] = df[ df['EV/EBIT'] > 0 ].sort_values(by=['EV/EBIT'])['Papel'][:150].values
ranking['ROIC'] = df.sort_values(by=['ROIC'], ascending=False)['Papel'][:150].values
ranking['Liq. Corr.'] = df[ df['Liq. Corr.'] >= 1.5 ].sort_values(by=['Liq. Corr.'])['Papel'][:150].values
ranking['P/L'] = df[ df['P/L'] < 15 ].sort_values(by=['P/L'])['Papel'][:150].values
ranking['ROE'] = df.sort_values(by=['ROE'], ascending=False)['Papel'][:150].values
ranking['P/VP'] = df[df['P/VP'] >=0].sort_values(by=['P/VP'])['Papel'][:150].values
ranking['Div.Yield'] = df[(df['Div.Yield'] >=0) & (df['Div.Yield'] <= 0.06)]['Papel'][:150].values

In [ ]:
ranking['Div.Yield']

0      CSED3
1      SOMA3
2      WEST3
3      DASA3
4      YDUQ3
       ...
145    DTEX3
146    TIMS3
147    CRPG5
148    CRFB3
149    ITUB4
Name: Div.Yield, Length: 150, dtype: object

In [ ]:
ranking

     pos EV/EBIT    ROIC Liq. Corr.     P/L     ROE    P/VP Div.Yield
0      1   PSSA3  AURA33      ALLD3   CSED3  AURA33  GPIV33     CSED3
1      2  GPIV33   CMIN3      BRFS3   SOMA3   TASA4   JBDU4     SOMA3
2      3   GOAU4   WIZS3      EGIE3   WEST3   TASA3   SGPS3     WEST3
3      4   EVEN3   PSSA3     AURA33   DASA3   BEEF3   PINE4     DASA3
4      5   CMIN3   TASA3      TRAD3   YDUQ3   BRKM5   COGN3     YDUQ3
..   ...     ...     ...        ...     ...     ...     ...       ...
145  146   ENEV3   ANIM3      POWE3   ROMI3   KEPL3   SMTO3     DTEX3
146  147   ALSO3   POWE3      MILS3   POMO4   LPSB3   JALL3     TIMS3
147  148   OMGE3   CYRE3      ETER3   MRVE3   RPMG3   WEST3     CRPG5
148  149   BRPR3   MGLU3      MTRE3   LOGG3  BPAC11   HBSA3     CRFB3
149  150   HBRE3   COCE5      ANIM3  SANB11   POMO4   SLCE3     ITUB4

[150 rows x 8 columns]

In [ ]:
a = ranking.pivot_table(columns='EV/EBIT', values='pos')

In [ ]:
b = ranking.pivot_table(columns='ROIC', values='pos')

In [ ]:
c = ranking.pivot_table(columns='Liq. Corr.', values='pos')

In [ ]:
d = ranking.pivot_table(columns='P/L', values='pos')

In [ ]:
e = ranking.pivot_table(columns='ROE', values='pos')

In [ ]:

f = ranking.pivot_table(columns='P/VP', values='pos')

In [ ]:
g = ranking.pivot_table(columns='Div.Yield', values='pos')

In [ ]:
t = pd.concat([a,b,c,d,e,f,g])
t

     ABEV3  AGRO3  AGXY3  ALLD3  ALSO3  ...  BPAN4  CXSE3  ITUB3  ITUB4  NTCO3
pos  125.0   74.0   63.0     56  147.0  ...    NaN    NaN    NaN    NaN    NaN
pos   58.0   64.0   95.0     49    NaN  ...    NaN    NaN    NaN    NaN    NaN
pos    NaN   16.0    NaN      1  109.0  ...    NaN    NaN    NaN    NaN    NaN
pos    NaN    NaN    NaN    133    NaN  ...    NaN    NaN    NaN    NaN    NaN
pos   86.0  111.0    NaN     58    NaN  ...  134.0  102.0   87.0   88.0    NaN
pos    NaN   96.0   87.0    108   58.0  ...    NaN    NaN  120.0  130.0  143.0
pos    NaN  132.0    NaN    113    NaN  ...    NaN    NaN  135.0  150.0    NaN

[7 rows x 280 columns]

In [ ]:
rank = t.dropna(axis=1).sum()
rank

ALLD3     518
ALUP11    419
EQTL3     608
GGBR3     506
GGBR4     555
GOAU4     521
JHSF3     790
POSI3     605
RAPT4     517
SAPR11    480
SAPR3     474
SAPR4     487
TRIS3     765
USIM3     470
USIM5     467
dtype: int64

In [ ]:
rank.sort_values()[:15]

ALUP11    419
USIM5     467
USIM3     470
SAPR3     474
SAPR11    480
SAPR4     487
GGBR3     506
RAPT4     517
ALLD3     518
GOAU4     521
GGBR4     555
POSI3     605
EQTL3     608
TRIS3     765
JHSF3     790
dtype: int64